1. Get familiar with colab
<br>
Done

2. Make github account
<br>
Done

3. Define

Dictionaries
<br>
Dictionaries are an ordered collection of data values in a form of key-value pairs. The dictionaries are defined within `{}` braces.
Example: `{1:'One', 2:'Two'}
`
<br><br>
Lists
<br>
Lists are an ordered sequence of different data values seperated by commas withing squared brackets `[]`. Lists are mutable and can contain heterogeneous data types i.e. can contain different types of data types.
Example: `[1, 'One', [3,4], (5,6)]`
<br><br>
Tuples
<br>
Tuples are similar to lists. Tuples are also an ordered sequence of data values seperated by commas and can contain different data types. The two differences are, Tuples are immutable data type and the values are contained withing `()` brackets.
Example: `(1, 'Two', [3,4], (5,6))`
<br><br>
Sets
<br>
Unline Dictionaries, Lists, and Tuples, Sets are unordered and unindexed data type. Sets are contain comma seperated values within `{}` brackets. and unlike the other sequence data types sets cannot contain duplicate datas i.e. in a set containing `{1,2,3,4}` another `1` cannot be added.

4. Read CSV file

In [ ]:
import pandas as pd
df = pd.read_csv('dataset.csv')
df.head()

                        UNIVERSITY NAME  ...                                            WEBSITE
0           University of Bozen-Bolzano  ...  https://www.unibz.it/en/faculties/computer-sci...
1           University of Bozen-Bolzano  ...  https://www.unibz.it/en/faculties/computer-sci...
2  Università Cattolica del Sacro Cuore  ...  https://offertaformativa.unicatt.it/cdl-data-a...
3      Ca' Foscari University of Venice  ...  https://www.studyatcafoscari.com/programmes/gr...
4                   University of Siena  ...  https://www.unisi-international.com/programmes...

[5 rows x 11 columns]

5. Numpy

Question 1
<br>
Create an array of 10 fives

In [ ]:
import numpy as np
array = np.full(10, 5) # filling array with 10 fives
print(array)

[5 5 5 5 5 5 5 5 5 5]

Question 2
<br>
Create an array of all even integers between 10 to 50

In [ ]:
import numpy as np
array=np.arange(10, 51, 2) # even numbers from 10-50 (step val 2)
print(array)

[10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50]

Question 3
<br>
Create a 4x4 matrix

In [ ]:
import numpy as np
array = np.full(16,1).reshape(4,4)
print(array)

[[1 1 1 1]
 [1 1 1 1]
 [1 1 1 1]
 [1 1 1 1]]

Question 4
<br>
Use numpy to generate an array of 25 random numbers sampled from a standard
normal distribution.

In [ ]:
import numpy as np
import numpy as np
array = np.random.normal(0,1,25)
print(array)

[ 0.29386503  0.89989723 -0.99389772 -0.74274821  1.71001826  0.43476319
  0.09898987  1.42501792  1.79131446  0.08238828  1.07876469 -1.1411801
  1.03831976  0.08326986 -0.78169148  0.27723995 -0.19114957 -0.57068542
 -0.00644479  0.79947907 -2.36734976  0.63611834  0.1382741  -0.4999919
  0.09751843]

Question 6
<br>
(a) Output the given matrix using numpy.
<br>
Matrix: 
`[[ 1 2 3 4 5 ]`<br>
`[ 6 7 8 9 10]`<br>
`[11 12 13 14 15]`<br>
`[16 17 18 19 20]`<br>
`[ 21 22 23 24 25]]`

In [ ]:
import numpy as np

array = np.arange(1,26).reshape(5,5)
print(array)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [21 22 23 24 25]]

By referring the above matrix output given matrix.<br>
([[ 12 13 14 15]
17 18 19 20]
22 23 24 25 ]])

In [ ]:
import numpy as np

array = np.arange(1,26).reshape(5,5)

mat = np.matrix(array)
rowDel = np.delete(mat, (0,1), 0)
colDel = np.delete(rowDel, 0, 1)
print(colDel)

[[12 13 14 15]
 [17 18 19 20]
 [22 23 24 25]]

Grab number ‘20’ from the matrix.

In [ ]:
colDel.item(7)

20

Get the standard deviation of the values in the matrix.

In [ ]:
np.std(mat)

7.211102550927978

Output this array ([[ 2 ]
[ 7 ]
[12 ]])

In [ ]:
x = np.delete(mat, (3, 4), 0)
y = np.delete(x, (0, 2, 3, 4), 1)
print(y)

[[ 2]
 [ 7]
 [12]]

Get the standard deviation of the values in the matrix

In [ ]:
np.std(y)

4.08248290463863

Sum of the columns in the matrix

In [ ]:
np.matrix.sum(y)

21